# Virtual Environment
.venv/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Output images
outputs/

# OS files
.DS_Store
Thumbs.dbgit status

#temp code runner T-T
tempCodeRunnerFile